<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PFR</title>
    <link rel="stylesheet" href="/static/css/detection.css">


</head>
<body>

            <div class="center">


            <div>
                <img src="{{ url_for('video_feed') }}" class="responsive">
            </div>

                    <ul class="list">
                    <li>Placer le smartphone sur le mobile stand</li>

                    <li>Assurer-vous que la camera est face au conducteur </li>

                    <li>Assurer-vous que les notifications ne sont pas en mode silencieux</li>

                    <li>Bon voyage</li>
                    </ul>


                    <ul class="ps">
                    <li>Pour trouver un hotel ou voir des astuces revenez a la page d'accueil</li>
                    </ul>
                </div>

</body>
</html>